root = true

[*]
indent_style = space
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 2
max_line_length = 120

[*.cs]
indent_size = 4

[*.csx]
indent_size = 4

[*.cmd]
max_line_length = 9999
