<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="LiteGuard.Test" ToolsVersion="14.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1016" Action="None" />
  </Rules>
</RuleSet>